.listWrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    background-color: rgb(154, 136, 136);
  padding: 10px;
}
.listItems{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}